html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
		link(rel="stylesheet" type="text/css" href="../../assets/css/animate.css")
		link(rel="stylesheet" type="text/css" href="../../assets/css/universe-static.css")
	body
		.container-fluid.wrapper-universe#wide
			video.video-bg(autoplay loop muted)
				source(src="../../assets/videos/universe.mov" type="video/mp4")
			.row.align-items-center.justify-content-center.pl-5
				.col.p-0
					.object.m80(data-info="#m80-info", data-direction="up")
						.image
							img(src="../../assets/images/GALAXIAM8015FRAMES.gif")
				.col.info-wrapper#h47-info
					.info-card
						p.name-element Herbig - Haro 47
						p.body-element En 1986 la Academia de Ciencias de la URSS le otorgó la Medalla Lomonósov, el equivalente al Nobel de occidente, a Guillermo Haro por todas sus aportaciones a la astrofísica, siendo hasta la fecha el único mexicano y latinoamericano en recibir tal premio.  Este reconocimiento lo obtuvo gracias a sus descubrimientos entre los que destacan: ocho mil 746 estrellas azules, varias estrellas T Tauri, una supernova, más de 10 novas, el cometa Haro-Chavira en 1955 y su lista de 44 galaxias azules. 
						i.far.fa-times-circle
				.col.p-0
					.object.h11(data-info="#h11-info", data-direction="up")
						.image
							img(src="../../assets/images/haro11_15frames.gif")
				.col.info-wrapper#m59-info
					.info-card
						p.name-element Galaxia M-59
						p.body-element Es una galaxia elíptica -considerada, sin embargo, por algunos autores cómo galaxia lenticular1​- de la constelación de Virgo. Fue descubierta por Johann Gottfried Koehler en 1779. Su magnitud conjunta en banda B (filtro azul) es igual a la 11.0ª. M59 es una de las galaxias más grandes del Cúmulo de Virgo. Su distancia a la Tierra se estima que en 60 millones de años luz, y cómo otras muchas galaxias grandes, tiene en su centro un agujero negro supermasivo, en su caso de 270 millones de masas solares.2​ Además, su núcleo rota en sentido inverso al resto de la galaxia,3​ y posee un disco de estrellas en su región más interna. Es también muy rica en cúmulos globulares, con una población de ellos que se estima en alrededor de 22006​.
						i.far.fa-times-circle
				.col.p-0
					.object.h44(data-info="#h44-info", data-direction="up")
						.image
							img(src="../../assets/images/haro44_15frames.gif")
			.row.align-items-center.justify-content-center.pl-5
				.col.info-wrapper#m80-info
					.info-card
						p.name-element Galaxia M-80
						p.body-element Es un cúmulo globular en la constelación de Scorpius, situado algo al Este de M4: no es visible con prismáticos debido a tu pequeño tamaño angular y a su baja magnitud conjunta, aunque sí incluso con telescopios pequeños. Fue descubierto por Charles Messier en 1781. M80 se halla a una distancia de 10 kiloparsecs (32600 años luz) del Sol, y tiene un diámetro aparente de 10 minutos de arco,1​ que equivale a 95 años luz de diámetro real. Es uno de los cúmulos globulares más densos conocidos, conteniendo un buen número de estrella rezagadas azules -lo que sugiere que las colisiones entre estrellas son relativamente frecuentes en su núcleo; se ha calculado que desde su origen se han producido 2700 de ellas-2​. Contiene dos estrellas variables de largo período, habiéndose descubierto en él una nova en 1860 (T Scorpii), que llegó a brillar más que el propio cúmulo.
						i.far.fa-times-circle
				.col.p-0
					.object.h47(data-info="#h47-info", data-direction="down")
						.image
							img(src="../../assets/images/haro47_15frames.gif")
				.col.info-wrapper#h11-info
					.info-card
						p.name-element Galaxia Haro 11
						p.body-element Una de las mayores contribuciones de 
							strong Guillermo Haro 
							| a la astrofísica ocurrió en el campo de las galaxias azules. Para 1950 Haro se había interesado en la búsqueda de estrellas enanas blancas y azules. Para lograrlo, perfeccionó una técnica fotográfica con la cámara Schmidt. De este modo podía detectar objetos con exceso de emisión en el rango ultravioleta, que se estudiaban con técnicas espectrales. En 1956 publicó “Nota preliminar sobre galaxias azules con líneas de emisión” un catálogo de 44 objetos, enumerándolos del 1 al 44 a lo que llamó “número de serie de Tonantzintla”, dichas galaxias fueron conocidas como Galaxias Haro. 
						i.far.fa-times-circle
				.col.p-0
					.object.m59(data-info="#m59-info", data-direction="down")
						.image
							img(src="../../assets/images/m59_15frames.gif")
				.col.info-wrapper#h44-info
					.info-card
						p.name-element Haro 44
						p.body-element Guillermo Haro contribuyó al desarrollo de la astronomía, especialmente con el telescopio Schmidt de Tonantzintla.3​ Entre sus descubrimientos se encuentra la detección de numerosas nebulosas planetarias en dirección al centro de la galaxia y el descubrimiento (realizado simultáneamente por George Herbig) de condensaciones de nubes de alta densidad junto a regiones ricas en estrellas de reciente formación (llamadas en la actualidad Objeto Herbig-Haro). Haro y sus compañeros descubrieron estrellas fulgurantes en la región de Orión, y posteriormente en agregados estelares de diferentes edades. Continuó su intensa actividad detectando estrellas fulgurantes durante toda su vida. Otro de los proyectos de envergadura llevados a cabo por Haro fue la realización de un listado de 8746 estrellas azules en dirección al polo norte galáctico, publicado conjuntamente con Willem Jacob Luyten en 1961. Este trabajo fue realizado con el Schmidt de 48 pulgadas del Observatorio Palomar, usando una técnica que empleaba imágenes en tres colores que había desarrollado en Tonantzintla. Al menos 50 de estos objetos acabaron siendo quásares (cuerpos celestes desconocidos en 1961). La lista de Haro de 44 galaxias azules, recopilada en 1956, fue precursora del trabajo realizado por Benjamin Egishevich Markarian (entre otros) en la búsqueda de ese tipo de galaxias. Haro descubrió también varias estrellas T Tauri, una supernova más de 10 novas y un cometa.
						i.far.fa-times-circle
			#vid-modal.modal.fade.animated.zoomIn(data-backdrop="true", tabindex='-1', role='dialog', aria-labelledby='vidModalLabel', aria-hidden='true')
				.modal-dialog(role='document')
					.modal-content
						.modal-body.text-center
							.row.align-items-center.justify-content-center.pt-3
								.col
									video(width="100%")
										source(src="../../assets/videos/galaxy/gems.mov" type="video/mp4")
			#vid-modal2.modal.fade.animated.zoomIn(data-backdrop="true", tabindex='-1', role='dialog', aria-labelledby='vidModalLabel', aria-hidden='true')
				.modal-dialog(role='document')
					.modal-content
						.modal-body.text-center
							.row.align-items-center.justify-content-center.pt-3
								.col
									video(width="100%")
										source(src="../../assets/videos/galaxy/falcon.mov" type="video/mp4")
		script(type="text/javascript" src="../../assets/lib/jquery-3.2.1.min.js")
		script(type="text/javascript" src="../../assets/lib/bootstrap/js/bootstrap.js")
		script(src='../../assets/js/universe-static.js')