html
	head
		link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
		link(rel="stylesheet" type="text/css" href="../../assets/css/animate.css")
		link(rel="stylesheet" type="text/css" href="../../assets/css/universe.css")
	body
		.container-fluid.wrapper-universe
			.row.justify-content-center.pl-3
				.col.p-0
					.object.m80
						.image
							img(src="../../assets/images/GALAXIAM8015FRAMES.gif")
							img.line(src="../../assets/images/neon-line.png")
				.col.p-0
					.object.m80
						.image
				.col.p-0
					.object.h11
						.image
							img(src="../../assets/images/haro11_15frames.gif")
				.col.p-0
					.object.m80
						.image
				.col.p-0
					.object.h44
						.image
							img(src="../../assets/images/haro44_15frames.gif")
				.col.p-0
					.object.m80
						.image
				.col.p-0
					.object.h47
						.image
							img(src="../../assets/images/haro47_15frames.gif")
				.col.p-0
					.object.m80
						.image
				.col.p-0
					.object.m59
						.image
							img(src="../../assets/images/m59_15frames.gif")
				.col.p-0
					.object.m80
						.image
			.row.justify-content-center.pl-3
				.col.p-0
					.object.info-wrapper.info-m80
						//img(src="../../assets/images/neon-sign2.png")
						p Al encontrar el método Poveda, el astrofísico mexicano, no se detuvo ahí. En 1961 descubrió una relación matemática entre la masa de un sistema estelar libre de polvo y su luminosidad total, es decir que el cociente de la masa entre la luminosidad crece al incrementarse la masa del sistema. Esto significa que la eficiencia lumínica de un sistema estelar disminuye al crecer el número de estrellas que lo conforman. El Método Poveda es válido para sistemas cuyas masas puede diferir en un factor de hasta en diez mil millones.
				.col.p-0
					.object.m32
						.image
							img(src="../../assets/images/m32_frames.gif")
				.col.p-0
					.object.m80
						.image
							
				.col.p-0
					.object.m60
						.image
							img(src="../../assets/images/m60_15frames.gif")
				.col.p-0
					.object.m80
						.image
							
				.col.p-0
					.object.u2
						.image
							img(src="../../assets/images/Untitled-2.gif")
				.col.p-0
					.object.m80
						.image
							
				.col.p-0
					.object.m82
						.image
							img(src="../../assets/images/m82_15frames.gif")
				.col.p-0
					.object.m80
						.image
							
				.col.p-0
					.object.comet
						.image
							img(src="../../assets/images/Cometa.gif")
		script(type="text/javascript" src="../../assets/lib/jquery-3.2.1.min.js")
		script(src='../../assets/js/universe.js')