html
	head
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
		link(rel="stylesheet" type="text/css" href="../../assets/css/home.css")
	body
		.container-fluid
				.col-2
					img.item.m80(src="../../assets/images/GALAXIAM8015FRAMES.gif")
				.col-2
					img.item.haro11(src="../../assets/images/haro11_15frames.gif")
				.col-2
					img.item.haro44(src="../../assets/images/haro44_15frames.gif")
				.col-2
					img.item.m47(src="../../assets/images/haro47_15frames.gif")
				.col-2
					img.item.m32(src="../../assets/images/m32_frames.gif")
				.col-2
					img.item.m59(src="../../assets/images/m59_15frames.gif")
				.col-2
					img.item.m60(src="../../assets/images/m60_15frames.gif")
				.col-2
					img.item.m82(src="../../assets/images/m82_15frames.gif")
				.col-2
					img.item.untitle(src="../../assets/images/Untitled-2.gif")
				.col-2
					img.item.cometa(src="../../assets/images/Cometa.gif")
