html
	head
		link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
		link(rel="stylesheet" type="text/css" href="../../assets/css/animate.css")
		link(rel="stylesheet" type="text/css" href="../../assets/css/home.css")
	body
		.container-fluid
			//-
				.object.cometa
					.image
						img(src="../../assets/images/Cometa.gif")
					.description-wrap.animated.pulse
						h4 Cometa Haro Chavira
						.info-wrap
							p El 8 de diciembre de 1954 se tomaron varias placas astronómicas con la cámara Schmidt de Tonantzintla de la región del cielo que corresponde a la constelación del Toro. En estas placas Guillermo Haro y Enrique Chavira descubrieron un cometa que posteriormente fue bautizado como C/1954 Y1 Haro-Chavira pero que coloquialmente conocemos como el cometa Haro-Chavira.
				.object.haro47
					.image
						img(src="../../assets/images/haro47_15frames.gif")
					.description-wrap.animated.pulse
						h4 HerbHH 47
						.info-wrap
							p En 1986 la Academia de Ciencias de la URSS le otorgó la Medalla Lomonósov, el equivalente al Nobel de occidente, a Guillermo Haro por todas sus aportaciones a la astrofísica, siendo hasta la fecha el único mexicano y latinoamericano en recibir tal premio.  Este reconocimiento lo obtuvo gracias a sus descubrimientos entre los que destacan: ocho mil 746 estrellas azules, varias estrellas T Tauri, una supernova, más de 10 novas, el cometa Haro-Chavira en 1955 y su lista de 44 galaxias azules.
				.object.haro1_2
					.image
						img(src="../../assets/images/haro1_2.gif")
					.description-wrap.animated.pulse
						h4 Herbig Haro 1 y Herbig Haro 2
						.info-wrap
							p En 1950 Guillermo Haro descubrió un nuevo tipo de nebulosas cósmicas con un espectro muy peculiar al analizar placas fotográficas obtenidas con la cámara Schmidt del observatorio de Tonantzintla. Estas nebulosas se forman por la interacción entre el gas expulsado por la estrella central con nubes de material gaseoso y polvo interestelar colisionando a velocidades de varios cientos de kilómetros por segundo ionizando el gas. El resultado son unos objetos muy brillantes y vistosos de muy corta vida (unos cuantos miles de años) y conocidos como Objetos Herbig-Haro. 
							p Haro no publicó su descubrimiento de inmediato pero escribió cartas a sus colegas Harlow Shapley y Rudolph Minkowski describiendo el hallazgo. “Una tarde, después de comer, Guillermo abre el Astrophysical Journal, lo hojea y su mirada cae sobre un artículo que lo intriga, a medida que lee, su corazón se acelera. `¡No es posible!´ Vuelve a leerlo, temblando `¡Ya me madrugaron!´ narra Elena Poniatowska. George Herbig, un joven astrónomo estadounidense, publicó un artículo describiendo las mismas nebulosas que había descubierto Haro. Fue gracias a las cartas escritas a Shapley y Minkowski que la comunidad astronómica reconociera el trabajo del mexicano, si bien Herbig había publicado primero, Haro estaba al tanto de la importancia de estas nebulosas desde antes. Con el tiempo se le reconoció el descubrimiento a ambos astrónomos y fueron llamados objetos Herbig - Haro o de manera abreviada objetos HH.
				.object.m80
					.image
						img(src="../../assets/images/GALAXIAM8015FRAMES.gif")
					.description-wrap.animated.pulse
						h4 Galaxia M80
						.info-wrap
							p ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ???
				.object.m60
					.image
						img(src="../../assets/images/M50_INFINITO.gif")
					.description-wrap.animated.pulse
						h4 Galaxia M50
						.info-wrap
							p ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ???
				.object.m82
					.image
						img(src="../../assets/images/m82_15frames.gif")
					.description-wrap.animated.pulse
						h4 Galaxia M82
						.info-wrap
							p ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ???
				.object.m105
					.image
						img(src="../../assets/images/andromeda_infinito.gif")
					.description-wrap.animated.pulse
						h4 Galaxia M105
						.info-wrap
							p ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ???
				.object.haro11
					.image
						img(src="../../assets/images/haro11_15frames.gif")
					.description-wrap.animated.pulse
						h4 Galaxia Haro 11
						.info-wrap
							p Una de las mayores contribuciones de Guillermo Haro a la astrofísica ocurrió en el campo de las galaxias azules. Para 1950 Haro se había interesado en la búsqueda de estrellas enanas blancas y azules. Para lograrlo, perfeccionó una técnica fotográfica con la cámara Schmidt. De este modo podía detectar objetos con exceso de emisión en el rango ultravioleta, que se estudiaban con técnicas espectrales. En 1956 publicó “Nota preliminar sobre galaxias azules con líneas de emisión” un catálogo de 44 objetos, enumerándolos del 1 al 44 a lo que llamó “número de serie de Tonantzintla”, dichas galaxias fueron conocidas como Galaxias Haro.
				.object.haro44
					.image
						img(src="../../assets/images/haro44_15frames.gif")
					.description-wrap.animated.pulse
						h4 Galaxia Haro 44
						.info-wrap
							p ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ???
				.object.m59
					.image
						img(src="../../assets/images/m59_15frames.gif")
					.description-wrap.animated.pulse
						h4 Galaxia Haro 59
						.info-wrap
							p ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ???
				.object.m32
					.image
						img(src="../../assets/images/m32_frames.gif")
					.description-wrap.animated.pulse
						h4 Galaxia M32 – Galaxias elípticas y el interés de Poveda por estudiarlas.
						.info-wrap
							p Arcadio Poveda se encontraba en un seminario en 1954, donde el profesor Martin Schwarzschild, presentaba algunos resultados sobre la masa de las galaxias. Había analizado espectros de la galaxia de Andrómeda  que había reportado Nicholas Mayall en 1951. Schwarzschild notó una asimetría en la galaxia y se la atribuyó al jalón gravitacional de la galaxia vecina M32, una galaxia elíptica enana. Así que realizó un cálculo aproximado. El cálculo dió como resultado que la galaxia M32 tendría una masa equivalente a 25 millones de veces la masa del sol. Sin embargo Poveda no estaba satisfecho con esta estimación. Para Poveda fue como armar  un gran rompecabezas. Lo tenia todo: el teorema del virial,  mostrado por  la astrónoma mexicana Paris Pişmiş, la desviación estándar de las velocidades de la galaxia M32 de Minkowski y el perfil del brillo superficial de M32 por un estudio de Gerard de Vaucouleurs. Combinó estos tres elementos y encontró una formula, que llaman fórmula de Poveda, o también, el Método Poveda para medir la masa de las galaxias, descubriendo que la masa de M32 era casi 100 veces menor al valor estimado por Schwarzschild. El valor de la masa de M32 ha sido comprobado con observaciones modernas y no ha sido necesario corregir el resultado del doctor Poveda. Su trabajo  ha servido de base para muchas otras investigaciones. Esta contribución de Poveda es uno de sus artículos más citados en la astronomía.
			.object.m60
				.image
					img(src="../../assets/images/m60_15frames.gif")
				.description-wrap.animated.pulse
					h4 Galaxia M60
					.info-wrap
						p ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ??? ???
		//-
		script(type="text/javascript" src="../../assets/lib/jquery-3.2.1.min.js")
		script(src='../../assets/js/universe.js')