html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
		link(rel="stylesheet" type="text/css" href="../../assets/css/animate.css")
		link(rel="stylesheet" type="text/css" href="../../assets/css/universe-static.css")
		link(href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
	body
		.container-fluid.wrapper-universe#wide
			video.video-bg(autoplay loop muted)
				source(src="../../assets/videos/universe.mov" type="video/mp4")
			.row.align-items-center.justify-content-center.pl-5
				.col.p-0
					.object.m80(data-info="#m80-info", data-direction="up")
						.image
							img(src="../../assets/images/GALAXIAM8015FRAMES.gif")
					.info-wrapper.info-wrapper2#m80-info
						.info-card2
							p.name-element Galaxia NGC 4278 o NGC3379
							p.body-element Al encontrar el método Poveda, el astrofísico mexicano, no se detuvo ahí. En 1961 descubrió una relación matemática entre la masa de un sistema estelar libre de polvo y su luminosidad total, es decir que el cociente de la masa entre la luminosidad crece al incrementarse la masa del sistema. Esto significa que la eficiencia lumínica de un sistema estelar disminuye al crecer el número de estrellas que lo conforman. Esta relación contempla cúmulos globulares, o sea cientos de miles de estrellas, y hasta cúmulos de galaxias, que a su vez consisten en miles de galaxias constituidas por cientos de miles de millones de estrellas. Se entiende entonces, que el Método Poveda es válido para sistemas cuyas masas puede diferir en un factor de hasta en diez mil millones. Esto contribuye a entender teóricamente la diferencia entre la materia bariónica, es decir la constituida por leptones y bariones, o constituida por átomos y sus subpartículas, en otras palabras, materia ordinaria del universo, y la materia oscura que algunos creen se formó después del Big Bang.
							.icon-close
				.col.info-wrapper
					//.info-card
						p.name-element Herbig Haro – HH 39
						p.body-element A principios de la década de los cincuenta, los astrónomos George Herbig y Guillermo Haro descubrieron, de manera independiente, una nueva clase de cuerpos celestes; los objetos Herbig - Haro. En el Instituto de Astronomía de la UNAM, Luis Felipe Rodríguez investigó estos objetos y descubrió que están íntimamente relacionados con el proceso de formación de estrellas, continuando así una gran tradición astronómica mexicana. Los objetos Herbig - Haro son nubecillas de gas caliente en proceso de enfriamiento, que previamente fueron calentados e ionizados por el paso de una “onda de choque”. Fue gracias a sus observaciones en ondas de radio que observaron que su fuente de energía, ya que no tienen energía propia, es una estrella muy joven y relativamente lejana, cuyo viento estelar está siendo “enfocado” produciendo los objetos Herbig- Haro. Tal enfocamiento es producido por un disco gaseoso alrededor de la estrella, que no se ve a simple vista, pero con radiotelescopios, sí, aportando así, un gran descubrimiento para la radioastronomía y la formación de estrellas.
						i.far.fa-times-circle
				.col.p-0
					.object.h11(data-info="#h11-info", data-direction="up")
						.image
							img(src="../../assets/images/haro11_15frames.gif")
					.info-wrapper.info-wrapper2#h11-info
						.info-card2
							p.name-element Galaxia Haro 11
							p.body-element Una de las mayores contribuciones de Guillermo Haro a la astrofísica ocurrió en el campo de las galaxias azules. Muchos de esos objetos siguen ocultando elementos clave para entender la evolución de las galaxias. Para 1950 Haro había consolidado el observatorio de Tonantzintla, se había interesado en la búsqueda de estrellas enanas blancas y azules. Para lograrlo, perfeccionó una técnica fotográfica con la cámara Schmidt. De este modo podía detectar objetos con exceso de emisión en el rango ultravioleta, que se estudiaban con técnicas espectrales. En 1956 publicó “Nota preliminar sobre galaxias azules con líneas de emisión” un catálogo de 44 objetos, enumerándolos del 1 al 44 a lo que llamó “número de serie de Tonantzintla”, dichas galaxias fueron conocidas como Galaxias Haro.
							.icon-close
				.col.info-wrapper
					//.info-card
						p.name-element Galaxia M-31
						p.body-element Renán Arcadio Poveda Ricalde, es un astrofísico teórico mexicano cuyas contribuciones al área han tenido y continúan siendo de gran importancia en todo el mundo. Uno de sus más grandes logros fue haber descubierto el Método Poveda que sirve para medir la masa de las  galaxias elípticas y cúmulos globulares. Este método consiste en que para medir la masa de una galaxia, es necesario saber a qué velocidad viajan sus estrellas. Su gran reto fue que en ese entonces, nadie sabía del movimiento de las estrellas. Con ayuda de investigaciones de Rudolph Minkowski sobre qué tanto se agitaban las estrellas al moverse, fue que Poveda tuvo un gran idea. A mayor masa tenga una galaxia, sus estrellas se agitan más rápido y por lo mismo, se mueven más rápido. Poveda comenzó a trabajar, hasta que realizó una fórmula con la podemos obtener la masa de una galaxia elíptica. Una sencilla fórmula que sigue estando vigente por todos los astrónomos del mundo. 
						i.far.fa-times-circle
				.col.p-0
					.object.h44(data-info="#h44-info", data-direction="up")
						.image
							img(src="../../assets/images/haro44_15frames.gif")
					.info-wrapper.info-wrapper2#h44-info
						.info-card2
							p.name-element Galaxia Haro 22
							p.body-element Las Galaxias Haro son sistemas con una gran cantidad de gas. La mayoría son galaxias enanas elípticas y enanas lenticulares.  Sus características espectrales son muy similares a las regiones de formación de estrellas, por lo que este tipo de galaxias suelen llamarse galaxias HII, es decir, con hidrógeno ionizado ya que el exceso de radiación azul y ultravioleta que presentan estas galaxias es producido por una importante población de estrellas jóvenes. Las investigaciones de Haro, ayudaron a clasificar las galaxias ya que descubrió que la morfología y los rasgos espectrales son dos elementos ligados íntimamente entre sí. Esto ayudó a descubrir que todas las galaxias tienen estrellas jóvenes y viejas, incluso las más azules. Esto sería de vital importancia para describir el proceso evolutivo de una galaxia, misterio que sigue intrigando a una gran cantidad de astrónomos.
							.icon-close
			.row.align-items-center.justify-content-center.pl-5
				.col.info-wrapper
					//.info-card
						p.name-element Galaxia NGC 4278 o NGC3379
						p.body-element Al encontrar el método Poveda, el astrofísico mexicano, no se detuvo ahí. En 1961 descubrió una relación matemática entre la masa de un sistema estelar libre de polvo y su luminosidad total, es decir que el cociente de la masa entre la luminosidad crece al incrementarse la masa del sistema. Esto significa que la eficiencia lumínica de un sistema estelar disminuye al crecer el número de estrellas que lo conforman. Esta relación contempla cúmulos globulares, o sea cientos de miles de estrellas, y hasta cúmulos de galaxias, que a su vez consisten en miles de galaxias constituidas por cientos de miles de millones de estrellas. Se entiende entonces, que el Método Poveda es válido para sistemas cuyas masas puede diferir en un factor de hasta en diez mil millones. Esto contribuye a entender teóricamente la diferencia entre la materia bariónica, es decir la constituida por leptones y bariones, o constituida por átomos y sus subpartículas, en otras palabras, materia ordinaria del universo, y la materia oscura que algunos creen se formó después del Big Bang.
						i.far.fa-times-circle
				.col.p-0
					.object.h47(data-info="#h47-info", data-direction="down")
						.image
							img(src="../../assets/images/haro47_15frames.gif")
					.info-wrapper.info-wrapper2#h47-info
						.info-card2
							p.name-element Herbig Haro – HH 39
							p.body-element A principios de la década de los cincuenta, los astrónomos George Herbig y Guillermo Haro descubrieron, de manera independiente, una nueva clase de cuerpos celestes; los objetos Herbig - Haro. En el Instituto de Astronomía de la UNAM, Luis Felipe Rodríguez investigó estos objetos y descubrió que están íntimamente relacionados con el proceso de formación de estrellas, continuando así una gran tradición astronómica mexicana. Los objetos Herbig - Haro son nubecillas de gas caliente en proceso de enfriamiento, que previamente fueron calentados e ionizados por el paso de una “onda de choque”. Fue gracias a sus observaciones en ondas de radio que observaron que su fuente de energía, ya que no tienen energía propia, es una estrella muy joven y relativamente lejana, cuyo viento estelar está siendo “enfocado” produciendo los objetos Herbig- Haro. Tal enfocamiento es producido por un disco gaseoso alrededor de la estrella, que no se ve a simple vista, pero con radiotelescopios, sí, aportando así, un gran descubrimiento para la radioastronomía y la formación de estrellas.
							.icon-close
				.col.info-wrapper
					//.info-card
						p.name-element Galaxia Haro 11
						p.body-element Una de las mayores contribuciones de Guillermo Haro a la astrofísica ocurrió en el campo de las galaxias azules. Muchos de esos objetos siguen ocultando elementos clave para entender la evolución de las galaxias. Para 1950 Haro había consolidado el observatorio de Tonantzintla, se había interesado en la búsqueda de estrellas enanas blancas y azules. Para lograrlo, perfeccionó una técnica fotográfica con la cámara Schmidt. De este modo podía detectar objetos con exceso de emisión en el rango ultravioleta, que se estudiaban con técnicas espectrales. En 1956 publicó “Nota preliminar sobre galaxias azules con líneas de emisión” un catálogo de 44 objetos, enumerándolos del 1 al 44 a lo que llamó “número de serie de Tonantzintla”, dichas galaxias fueron conocidas como Galaxias Haro.
						i.far.fa-times-circle
				.col.p-0
					.object.m59(data-info="#m59-info", data-direction="down")
						.image
							img(src="../../assets/images/m59_15frames.gif")
					.info-wrapper.info-wrapper2#m59-info
						.info-card2
							p.name-element Galaxia M-31
							p.body-element Renán Arcadio Poveda Ricalde, es un astrofísico teórico mexicano cuyas contribuciones al área han tenido y continúan siendo de gran importancia en todo el mundo. Uno de sus más grandes logros fue haber descubierto el Método Poveda que sirve para medir la masa de las  galaxias elípticas y cúmulos globulares. Este método consiste en que para medir la masa de una galaxia, es necesario saber a qué velocidad viajan sus estrellas. Su gran reto fue que en ese entonces, nadie sabía del movimiento de las estrellas. Con ayuda de investigaciones de Rudolph Minkowski sobre qué tanto se agitaban las estrellas al moverse, fue que Poveda tuvo un gran idea. A mayor masa tenga una galaxia, sus estrellas se agitan más rápido y por lo mismo, se mueven más rápido. Poveda comenzó a trabajar, hasta que realizó una fórmula con la podemos obtener la masa de una galaxia elíptica. Una sencilla fórmula que sigue estando vigente por todos los astrónomos del mundo. 
							.icon-close
				.star
					img(src="../../assets/images/estrella.png")
					.code-wrapper
						h4 ¡Has encontrado un premio oculto!
						p Copia el código y acude a canjearlo en el stand al final de la exposición.
						p.code-price 
			#vid-modal.modal.fade.animated.zoomIn(data-backdrop="true", tabindex='-1', role='dialog', aria-labelledby='vidModalLabel', aria-hidden='true')
				.modal-dialog(role='document')
					.modal-content
						.modal-body.text-center
							.row.align-items-center.justify-content-center.pt-3
								.col
									video(width="100%")
										source(src="../../assets/videos/galaxy/gems.mov" type="video/mp4")
			#vid-modal2.modal.fade.animated.zoomIn(data-backdrop="true", tabindex='-1', role='dialog', aria-labelledby='vidModalLabel', aria-hidden='true')
				.modal-dialog(role='document')
					.modal-content
						.modal-body.text-center
							.row.align-items-center.justify-content-center.pt-3
								.col
									video(width="100%")
										source(src="../../assets/videos/galaxy/falcon.mov" type="video/mp4")
		script(type="text/javascript" src="../../assets/lib/jquery-3.2.1.min.js")
		script(type="text/javascript" src="../../assets/lib/bootstrap/js/bootstrap.js")
		script(src='../../assets/js/universe-static.js')