html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
    link(href="https://fonts.googleapis.com/css?family=La+Belle+Aurore" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../../assets/css/animate.css")
    link(rel="stylesheet" type="text/css" href="../../assets/css/quiz.css")
  body
    .container-fluid.main-quiz#main-quotes
      .row.align-items-center.pt-5
        .col-4.go-back.text-white
          i.far.fa-arrow-alt-circle-left
          span Elegir otro juego
        .col-4.game-title.text-center
          span Elige quién dijo esta frase
        .col-3.answers-result.pr-5
          i.far.fa-circle
          i.far.fa-circle
          i.far.fa-circle
          i.far.fa-circle
          i.far.fa-circle
      .row.align-items-center.justify-content-center.pt-5
        .col-7.col-offset-3.quote-wrapper
          h4 test
      .row.align-items-center.justify-content-center
        .col-5.col-offset-4.options-wrapper.animated.flash
      .row.align-items-center.justify-content-center
        .col-5.col-offset-4.animated.flash
          p.info-quote 
      .row.align-items-center.justify-content-center
        .col.text-center.restart-wrapper
          button.btn-restart Siguiente
      #price.modal.fade.animated.flash(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-body.text-center
              p.code-body Has acertado en 3 ocasiones y te has ganado un libro, copia el código y acude a canjearlo en el stand al final de la exposición.
              p.code-price
              .row.align-items-center.justify-content-center.pt-3
                .col
                  a.btn-accept Aceptar
      #error-modal.modal.fade.animated.flash(data-backdrop="true", tabindex='-1', role='dialog', aria-labelledby='errorModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-body.text-center
              .row.align-items-center.justify-content-center.pt-3
                .col-8
                  .error-wrapper
                    h2.error ¡Has perdido!
                    p.code-body Has errado en 3 ocasiones, intenta más tarde.
              .row.align-items-center.justify-content-center.pt-3
                .col-4
                  a.btn-accept Aceptar
    script(src="../../assets/lib/jquery-3.2.1.min.js")
    script(src='../../assets/js/quiz.js')