html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
    link(href="https://fonts.googleapis.com/css?family=La+Belle+Aurore" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../../assets/css/animate.css")
    link(rel="stylesheet" type="text/css" href="../../assets/css/quiz.css")
  body
    .container-fluid.main-quiz
      .row.align-items-center.pt-5
        .col-4.go-back.text-white.pl-5
          i.far.fa-arrow-alt-circle-left
          span Elegir otro juego
        .col-4.game-title.text-center
          span Elige de qué libro hablamos
        .col-4.answers-result.text-right.pr-5
          i.far.fa-circle
          i.far.fa-circle
          i.far.fa-circle
          i.far.fa-circle
          i.far.fa-circle
      .row.align-items-center.justify-content-center.pt-5
        .col-8.col-offset-2.text-center
          h4.text-white.riddle-text 
      .row.align-items-center.justify-content-center
        .col-4.option-riddle.text-center.animated.pulse#pos1(data-option="1")
          img(src="")
          .info-writter.text-white
            h4.title-writter 
            h4.title-book 
          i.fas.fa-check-circle
        .col-4.option-riddle.text-center.animated.pulse#pos2(data-option="2")
          img(src="")
          .info-writter.text-white
            h4.title-writter
            h4.title-book
          i.fas.fa-check-circle
        .col-4.option-riddle.text-center.animated.pulse#pos3(data-option="3")
          img(src="")
          .info-writter.text-white
            h4.title-writter 
            h4.title-book 
          i.fas.fa-check-circle
      .row.align-items-center.justify-content-center
        .col.text-center.restart-wrapper
          button.btn-restart Siguiente
      #answer-modal.modal.fade.animated.flash(data-backdrop="true", tabindex='-1', role='dialog', aria-labelledby='answerModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-body.text-center
              h2.wt-name
              p.wt-data
              .row.align-items-center.justify-content-center.pt-3
                .col-8
                  .price-wrapper
                    h2 ¡Has ganado!
                    p.code-body Has acertado en 3 ocasiones y te has ganado un libro, copia el código y acude a canjearlo.
                    p.code-price
              .row.align-items-center.justify-content-center.pt-3
                .col-4
                  a.btn-accept Aceptar
      #error-modal.modal.fade.animated.flash(data-backdrop="true", tabindex='-1', role='dialog', aria-labelledby='errorModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-body.text-center
              .row.align-items-center.justify-content-center.pt-3
                .col-8
                  .error-wrapper
                    h2.error ¡Has perdido!
                    p.code-body Has errado en 3 ocasiones, intenta más tarde.
              .row.align-items-center.justify-content-center.pt-3
                .col-4
                  a.btn-accept Aceptar
    script(src="../../assets/lib/jquery-3.2.1.min.js")
    script(src='../../assets/js/riddle2.js')
    script(src='../../assets/js/quiz.js')
