doctype html
html(lang="es")
	head
		include ./commons/head-default.pug
		link(rel="stylesheet" type="text/css" href="../../assets/lib/owlCarousel-2.3.4/assets/owl.carousel.min.css")
	body
		.container-fluid
			.row.videoDetails
				.col-12.col-lg-5.pt-5.wrap-details
					h2.title-source Colegio Nacional
					p.subtitle-source Alejandro Frank
					.row
						.col-6
							button.p-2.play(type="button" data-toggle="modal" data-target=".video-modal") #[i.fas.fa-play] #[span Reproducir]
					//p.description-source Lorem ipsum dolor sit. Lorem ipsum dolor sit. Lorem ipsum dolor sit. Lorem ipsum dolor sit. Lorem ipsum dolor sit.
				.col-12.col-lg-7.pt-5.wrap-video
					video.myVideo(autoplay="" muted="" loop="")
						source.video-source(src="../../assets/videos/vids/AlejandroFrank.mov" type="video/mp4")
					.wrap-shadow
			.row
				.owl-carousel.owl-theme
					.item
						.card(data-src="assets/videos/vids/OctavioNovaro.mov" data-description="" data-title="El Colegio Nacional")
							img.card-img-top(src='../../assets/videos/vids/octavioNovaro.png' alt="")
							.card-body
								h5.card-title Octavio Novaro
					.item
						.card(data-src="assets/videos/vids/MarcosMoshinsky.mov" data-description="" data-title="El Colegio Nacional")
							img.card-img-top(src='../../assets/videos/vids/marcosMoshinsky.png' alt="")
							.card-body
								h5.card-title Marcos Moshinsky
					.item
						.card(data-src="assets/videos/vids/SamuelGitler.mov" data-description="" data-title="El Colegio Nacional")
							img.card-img-top(src='../../assets/videos/vids/samuelGitler.png' alt="")
							.card-body
								h5.card-title Samuel Gitler
					.item
						.card(data-src="assets/videos/vids/LeopoldoGarciaColin.mov" data-description="" data-title="El Colegio Nacional")
							img.card-img-top(src='../../assets/videos/vids/leopoldoGarcia.png' alt="")
							.card-body
								h5.card-title Leopoldo García-Colín
					.item
						.card(data-src="assets/videos/vids/marcosmazari.mov" data-description="" data-title="El Colegio Nacional")
							img.card-img-top(src='../../assets/videos/vids/marcosMazari.png' alt="")
							.card-body
								h5.card-title Marcos Mazari
		.modal.fade.video-modal(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.moda-body
						video.myModalVideo(controls)
							source.video-source(src="../../assets/videos/vids/AlejandroFrank.mov" type="video/mp4")
					//-.embed-responsive.embed-responsive-16by9
						iframe.embed-responsive-item(src='')
		script(type="text/javascript" src="../../assets/lib/jquery-3.2.1.min.js")
		script(type="text/javascript" src="../../assets/lib/owlCarousel-2.3.4/owl.carousel.min.js")
		script(type="text/javascript" src="../../assets/lib/bootstrap/js/bootstrap.bundle.min.js")
		script(type="text/javascript" src="../../assets/js/videos.js")
