html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
    link(href="https://fonts.googleapis.com/css?family=La+Belle+Aurore" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../../assets/css/animate.css")
    link(rel="stylesheet" type="text/css" href="../../assets/css/interviews.css")
  body
    .container-fluid.main-interviews
      .row.align-items-center.justify-content-center.pt-4
        .col-12.mt-4
          h4.text-white.text-center Enrique Krauze
      .row.justify-content-center.pt-5
        .col-12.pl-5.pr-5
          #accordion.accordion
            .card
              #headingOne.card-header
                h5.mb-0
                  button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                    | ¿Hacia dónde se dirige la democracia latinoamericana?
                    i.fas.fa-chevron-down
              #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordion')
                .card-body
                  video(width="100%" height="100%" controls)
                    source(src="../../assets/video/democracia.mov" type="video/mov")
            .card
              #headingTwo.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                    | Collapsible Group Item #2
                    i.fas.fa-chevron-down
              #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordion')
                .card-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .card
              #headingThree.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                    | Collapsible Group Item #3
                    i.fas.fa-chevron-down
              #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordion')
                .card-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .card
              #headingFour.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                    | Collapsible Group Item #4
                    i.fas.fa-chevron-down
              #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordion')
                .card-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .card
              #headingFive.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                    | Collapsible Group Item #5
                    i.fas.fa-chevron-down
              #collapseFive.collapse(aria-labelledby='headingFive', data-parent='#accordion')
                .card-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            .card
              #headingSix.card-header
                h5.mb-0
                  button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                    | Collapsible Group Item #5
                    i.fas.fa-chevron-down
              #collapseSix.collapse(aria-labelledby='headingSix', data-parent='#accordion')
                .card-body
                  | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    script(src="../../assets/lib/jquery-3.2.1.min.js")
    script(src='../../assets/lib/bootstrap/js/bootstrap.js')
    script(src='../../assets/js/interviews.js')
