html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
		link(href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="../../assets/css/animate.css")
		link(rel="stylesheet" type="text/css" href="../../assets/css/interviews.css")
	body
		.container-fluid.main-interviews#category
			.row.justify-content-center
				h4.text-white.mb-5 Elige un miembro de El Colegio Nacional para entrevistarlo
			.row.align-items-center.justify-content-center
				.col-4.item-member
					.item-link.text-center
						a.text-white.text-center(href="questions.html?a=ek") Enrique Krauze
				.col-4.item-member
					.item-link.text-center
						a.text-white.text-center(href="questions.html?a=dv") Diego Valadez
				.col-4.item-member
					.item-link.text-center
						a.text-white.text-center(href="questions.html?a=fz") Fiz Zamudio
				.col-4.item-member
					.item-link.text-center
						a.text-white.text-center(href="questions.html?a=jg") Javier Garciadiego
				.col-4.item-member
					.item-link.text-center
						a.text-white.text-center(href="questions.html?a=jc") José Ramón Cossío
				.col-4.item-member
					.item-link.text-center
						a.text-white.text-center(href="questions.html?a=lv") Luis Villoro
				.col-4.item-member
					.item-link.text-center
						a.text-white.text-center(href="questions.html?a=mp") Miguel León Portilla
				.col-4.ml-2