html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
		link(href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="../../assets/css/animate.css")
		link(rel="stylesheet" type="text/css" href="../../assets/css/interviews.css")
	body
		.container-fluid.main-interviews
			.row.align-items-center.justify-content-center
				.col-12.text-center
					h4#id-author.text-white.mt-5.mb-4 Enrique Krauze
					h4.text-white.sub-question ¿Qué te gustaría preguntarle?
			.row.align-items-center.justify-content-center.mt-5.animated.fadeInUp#questions
			.row.align-items-center.justify-content-center.pt-5
				.col.go-back.text-white.text-center
					i.far.fa-arrow-alt-circle-left
					span Elige otro miembro para entrevistarlo
		script(src="../../assets/lib/jquery-3.2.1.min.js")
		script(src='../../assets/js/interviews.js')
