html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
		link(rel="stylesheet" type="text/css" href="../../assets/css/interviews.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src='../../assets/js/interviews.js')
	body
		.container-fluid.main-interviews.pt-0.pb-0
			.row.align-items-center.justify-content-center
				#video
					video(width="100%" height="100%" controls)
						source(src="../../assets/videos/interviews/enriqueKrauze/democracia.mov")
					i.fas.fa-times
		script(src="../../assets/lib/jquery-3.2.1.min.js")
		script(src='../../assets/js/interviews.js')
