body
	//background url('../images/galaxy.jpg') no-repeat center center fixed
	//background-size cover
	background-color #000
	min-height 100%
.object
	position absolute
	width 35%
	.image
		position relative
		float left
		overflow hidden
		width 50%
		cursor pointer
		img
			width 70%
	.description-wrap
		display none
		position absolute
		float left
		overflow hidden
		z-index 100
		margin 0 0 0 15em
		width 55%
		background-color rgba(0,0,0,0.4)
		padding 10px
		h4
			color #66A8DE
		p
			color #7FDFFD
			font-size 12px
.cometa
	.image
		img
			margin 2em
			width 33%
	.description-wrap
		margin 0 0 0 10em
/*
.haro11
	top 20em
	left 30em
.haro44
	top 12em
	left 45em
.haro47
	top 35em
	left 15em
.m32
	top 35em
	left 50em
.m59
	top 0em
	left 80em
.m60
	top 20em
	left 70em
.m82
	top 35em
	left 80em
.untitled
	top 5em
	left 3em
.m80
	top 20em
	left 5em
.cometa
	transform scale(0.5)
	top 20em
	left 90em
*/