body
	background url('../images/galaxy.jpg') no-repeat center center fixed
	background-size cover
	background-color #000
	min-height 100%
.object
	position absolute
	overflow hidden
	cursor pointer
	width 40%
	.image
		position relative
		float left
		overflow hidden
		width 50%
		img
			width 100%
	.description-wrap
		display none
		position relative
		float left
		overflow hidden
		width 50%
		h4
			color #66A8DE
		p
			color #7FDFFD
			font-size 12px