body
	background-color #000
.container-fluid
	//background url('../images/background.jpg') no-repeat center center fixed
	//background-size cover
	//min-height 100%
img
	width 100%
.item
	&:hover
		cursor pointer
