body 
	font-family 'Dosis', sans-serif
.main-interviews
	background url('../images/interviews/light_BG.jpeg') no-repeat center center fixed
	background-size cover
	height 100%
	padding-top 10%
	h4
		font-size 2em
#category
	padding-top 40%
.card
	background none
	border 1px solid #fff
	.btn
		color #fff
		font-size 20px
		i
			position absolute
			margin-top 8px
			right 30px
			
.item-member
	background-color rgba(255, 255, 255, 0.3)
	border-radius 20px
	margin 10px 5px
.item-link, .item-link-request
	padding 10px 40px
.item-link-request
	background #FD866A
	border-radius 0 20px 20px 0
	line-height 2.8
	text-align center
	a
		color #fff
		text-decoration none
	i
		font-size 20px
		padding 14px


@media only screen and (min-height: 1919px)
	.main-interviews
		padding-top 40%
	#category
		padding-top 60%