body 
	font-family 'Dosis', sans-serif
.main-quiz
	background url('../images/quiz/deepred_BG.png') no-repeat center center fixed
	background-size cover
	min-height 100%
.quote-wrapper
	background url("../images/quiz/Twitter-BG.png")
	background-size cover
	min-height 17%
	margin-top 6%
	img
		width 100%
	h4
		font-size 0.9em
		margin 38px 62px
		line-height 1
.options-wrapper
	margin-top 5%
.option-wrap
	background rgba(255,255,255,0.15)
	border-radius 20px
	color #fff
	padding 10px
	margin-bottom 10px
.option-wrap.active
		background #8EAC1E
		color #fff
.icon-option
	font-size 15px
	padding 4px 5px
.option-riddle
	img
		width 100%
.info-writter
	background rgba(0,0,0,0.3)
	font-size 1em
	margin 0 auto
	padding 10px
	width 70%
	h4
		font-size 1.4em
.riddle-text
	font-size 2em
.title-book
	color #FD866A