body 
	font-family 'Dosis', sans-serif
.main-quiz
	background url('../images/quiz/deepred_BG.png') no-repeat center center fixed
	background-size cover
	padding-top 2%
	min-height 100%
#main-quotes
	padding-top 10%
.quote-wrapper
	background url("../images/quiz/Twitter-BG.png")
	background-size cover
	min-height 19%
	img
		width 100%
	h4
		font-size 1.5em
		margin 75px 125px
		line-height 1
.options-wrapper
	margin-top 5%
.option-wrap
	background rgba(255,255,255,0.15)
	border-radius 20px
	color #fff
	padding 10px
	margin-bottom 10px
	i
		display none
.option-wrap.active
	background #8EAC1E
	color #fff
	i
		display block
.option-wrap.error
	background #f00
	i
		color #fff
		display block
.icon-option
	font-size 15px
	padding 4px 5px
.option-riddle
	img
		width 80%
	i
		color green
		display none
		font-size 2em
		margin-top 20px
.option-riddle.active
	i
		display block
.option-riddle.error
	i
		color #f00!important
		display block
.info-writter
	background rgba(0,0,0,0.3)
	font-size 1em
	margin 0 auto
	padding 10px
	width 100%
	h4
		font-size 1.4em
.riddle-text
	font-size 2em
.title-book
	color #FD866A
.info-quote
	color #fff
	display none
.game-option
	color #000
	background rgba(255, 255, 255, .5)
	border-radius 20px
	display block
	font-size 2em
	font-weight bolder
	margin 20px 0
	padding 20px 15px
	text-decoration none
	&:after
		color #000
		text-decoration none
.restart-wrapper
	color #fff
.btn-restart, .btn-accept
	background none
	border 1px solid #fff
	border-radius 20px
	color #fff
	display none
	font-family 'Dosis', sans-serif
	font-size 25px
	margin-top 20px
	padding 5px 40px
.btn-accept
	display block
.go-back
	opacity 0.9
	
#main-quotes
	.restart-wrapper
		margin-top 5%
		position relative
		bottom initial
	.go-back
		text-align right
	.answers-result
		padding-left 7%
#start-screen
	padding-top 16%
.go-back
	font-size 2em
	span
		margin-left 5px
.answers-result
	i
		color #fff
		font-size 2em
		opacity 0.7
.answers-result
	i.active
		color green
		opacity 1
.code-body
	color #fff
	font-size 2em
	line-height 1
.code-price
	color green
	font-size 3em
	font-weight bolder
#price
	margin-top 25%
	.modal-body
		background #000
		opacity 0.8
		padding 50px
.game-title
	color #fff
	font-size 2em
#answer-modal
	margin-top 21%
	.modal-body
		background #000
		color #fff
		opacity 0.9
		padding 50px
	.modal-dialog
		height 500px
		max-width 1000px
	h2
		margin-top 10%
		text-decoration underline
.wt-data
	font-size 1.5em
	line-height 1
	margin-top 30px
.price-wrapper
	display none
	h2
		margin-top 0%!important