html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
    link(href="https://fonts.googleapis.com/css?family=La+Belle+Aurore" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../../assets/css/animate.css")
    link(rel="stylesheet" type="text/css" href="../../assets/css/instagram.css")
  body
    .container-fluid.main-instagram
      .row.align-items-center.header-instagram
        .col-3
          i.fas.fa-camera
        .col-6.text-center
          img(src="../../assets/images/instagram/instaText.png")
        .col-3.text-right
          i.fas.fa-user-plus
      .row.align-items-center.item-feed
        .col-2.col-lg-1.profile-pic
          img(src="../../assets/images/instagram/DSC00104.JPG")
        .col-9.col-lg-10
          a(href="profile.html")
            h4.profile-name Cardiología
        .col-1.col-lg-1.text-right
          i.fas.fa-ellipsis-h
        .row
          .col-12.profile-body-pic.mt-3
            img(src="../../assets/images/instagram/DSC00104.JPG")
        .row.icons-wrapper
          .col-4.col-lg-3.icons-left
            i.far.fa-heart
            i.far.fa-comment
          .col-8.col-lg-9.text-right.pr-0
            i.far.fa-bookmark
        .row.likes-wrapper
          .col-12
            h4 
              strong 782 Me gusta
        .row.comments-wrapper.mt-3
          .col-12
            .item-comment-wrapper
              h4.profile-name-link Ana Rivera
                span El Dr. Chávez tuvo la firme convicción de que era necesario crear un instituto que impartiera asistencia médica de alta calidad científica con calor humano, dirigida a una población económicamente débil. Bajo esta mentalidad es fundado el Instituto Nacional de Cardiología el 18 de abril de 1944, ubicándose en la Av. Cuauhtémoc, en la Ciudad de México
            .item-comment-wrapper
              h4.profile-name-link Ramón Cervantes
                span Después de 32 años de funcionamiento se muda a las instalaciones actuales, en la zona de Tlalpan, el 17 de octubre de 1976. Desde su fundación el Instituto ha atendido a miles de pacientes con padecimientos cardiovasculares, renales y reumáticos bajo el lema: “El amor y la ciencia al servicio del corazón”. 
            .item-comment-wrapper
              h4.profile-name-link Diego Rivera
                span ah mira...
        .row.time-wrapper
          .col-12
            h4 HACE UNA HORA
      .row.align-items-center.item-feed
        .col-2.col-lg-1.profile-pic
          img(src="../../assets/images/instagram/DSC00104.JPG")
        .col-9.col-lg-10
          a(href="profile.html")
            h4.profile-name intnal_ciencias_medicas
        .col-1.col-lg-1.text-right
          i.fas.fa-ellipsis-h
        .row
          .col-12.profile-body-pic.mt-3
            img(src="../../assets/images/instagram/inn2.jpg")
        .row.icons-wrapper
          .col-4.col-lg-3.icons-left
            i.far.fa-heart
            i.far.fa-comment
          .col-8.col-lg-9.text-right.pr-0
            i.far.fa-bookmark
        .row.likes-wrapper
          .col-12
            h4 
              strong 782 Me gusta
        .row.comments-wrapper.mt-3
          .col-12
            .item-comment-wrapper
              h4.profile-name-link Siqueiros
                span ola que hace
            .item-comment-wrapper
              h4.profile-name-link Frida Kahlo
                span nara aki y tu?
            .item-comment-wrapper
              h4.profile-name-link Diego Rivera
                span ah mira...
        .row.time-wrapper
          .col-12
            h4 HACE UNA HORA
      .row.align-items-center.item-feed
        .col-2.col-lg-1.profile-pic
          img(src="../../assets/images/instagram/DSC00104.JPG")
        .col-9.col-lg-10
          a(href="profile.html")
            h4.profile-name Profile name
        .col-1.col-lg-1.text-right
          i.fas.fa-ellipsis-h
        .row
          .col-12.profile-body-pic.mt-3
            img(src="../../assets/images/instagram/DSC00104.JPG")
        .row.icons-wrapper
          .col-4.col-lg-3.icons-left
            i.far.fa-heart
            i.far.fa-comment
          .col-8.col-lg-9.text-right.pr-0
            i.far.fa-bookmark
        .row.likes-wrapper
          .col-12
            h4 
              strong 782 Me gusta
        .row.comments-wrapper.mt-3
          .col-12
            .item-comment-wrapper
              h4.profile-name-link Siqueiros
                span ola que hace
            .item-comment-wrapper
              h4.profile-name-link Frida Kahlo
                span nara aki y tu?
            .item-comment-wrapper
              h4.profile-name-link Diego Rivera
                span ah mira...
        .row.time-wrapper
          .col-12
            h4 HACE UNA HORA
        .row.align-items-center.justify-content-center.footer-icons.text-center
          .col-2
            a(href="#")
              i.fas.fa-home
          .col-2
            a(href="#")
              i.fas.fa-search
          .col-2
            a(href="#")
              i.far.fa-plus-square
          .col-2
            a(href="#")
              i.far.fa-heart
          .col-2
            a(href="#")
              i.far.fa-user