html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
    link(href="https://fonts.googleapis.com/css?family=La+Belle+Aurore" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../../assets/css/animate.css")
    link(rel="stylesheet" type="text/css" href="../../assets/css/instagram.css")
  body
    .container-fluid.main-instagram#photo
      .row.align-items-center.header-instagram
        h4.title-insta Foto
      .row.align-items-center.header-photo
        .col-1.pr-0.img-photo
          a(href="profile_conabio.html")
            img(src="../../assets/images/instagram/conabio/IMG_9344.JPG")
        .col-9
          a(href="profile_conabio.html")
            h3.name-profile-photo conabio
              span · Siguiendo
          h3.location-profile Ciudad de México
        .col-2.text-right
          i.fas.fa-ellipsis-h.more-photo
      .row.align-items-center.photo-profile
        img(src="../../assets/images/instagram/conabio/_MG_3811.jpg")
      .row.icons-wrapper
        .col-4.col-lg-3.icons-left
          i.far.fa-heart.like
          i.far.fa-comment.comment
        .col-8.col-lg-9.text-right.pr-0
          i.far.fa-bookmark.bookmark
      .row.likes-wrapper
        .col-12
          h4 
            strong 4k
              span Me gusta
      .row.comments-wrapper.mt-3
        .col-12
          .item-comment-wrapper
            h4.profile-name-link sarukhan
              span Desde entonces, la CONABIO se estableció como una comisión intersecretarial de carácter permanente. Participan en ella diez secretarías, siendo el presidente de la Comisión el titular del Ejecutivo Federal.  Su misión es promover, coordinar, apoyar y realizar actividades dirigidas al conocimiento de la diversidad biológica, así como a su conservación y uso sustentable para beneficio de la sociedad.
          .item-comment-wrapper
            h4.profile-name-link miguel_jesus
              span Uno de los principales objetivos de la CONABIO ha sido la obtención, manejo, análisis y divulgación de información de la diversidad biológica nacional, tarea no tan sencilla al ser México un país reconocido a nivel mundial por su megadiversidad. Tal información es indispensable para la toma de decisiones respecto al uso y conservación de la biodiversidad sustentada en un conocimiento científico. Para compilar, organizar y distribuir esta información se estableció el Sistema Nacional de Información sobre Biodiversidad (SNIB) de México.
      .row.time-wrapper
        .col-12
          h4 HACE UNA HORA
      .row.align-items-center.justify-content-center.footer-icons.text-center
        .col-2
          a(href="index.html")
            i.fas.fa-home
        .col-2
          a(href="#")
            i.fas.fa-search
        .col-2
          a(href="#")
            i.far.fa-plus-square
        .col-2
          a(href="#")
            i.far.fa-heart
        .col-2
          a(href="#")
            i.far.fa-user
    script(src="../../assets/lib/jquery-3.2.1.min.js")
    script(src='../../assets/js/instagram.js')