html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
    link(href="https://fonts.googleapis.com/css?family=La+Belle+Aurore" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../../assets/css/animate.css")
    link(rel="stylesheet" type="text/css" href="../../assets/css/instagram.css")
  body
    .container-fluid.main-instagram
      .row.align-items-center.header-instagram
        h4.title-insta Perfil
      .row.align-items-center.header-profile
        .col-3.img-profile
          img(src="../../assets/images/instagram/colmex/Colmex-Ajusco3.jpg")
        .col-9
          a(href="#")
            h3.name-profile col_mex
              i.fas.fa-ellipsis-h
          .row
            .col-10
              button.btn-follow Siguiendo
            .col-2
              button.btn-options
                i.fas.fa-caret-down
      .row.align-items-center.descrip-profile
        .col-12
          p.description 
            strong El Colegio de México
            | Dada la difícil situación que cruzaba España durante su guerra civil (1936 – 1939), Daniel Cosío Villegas, historiador y economista, propone al presidente Lázaro Cárdenas un proyecto para acoger temporalmente en México a académicos, científicos y artistas españoles cuya integridad física peligraba. Bajo esta intención, el presidente Cárdenas emitió un decreto en 1938 para fundar La Casa de España en México, centro que daría nacimiento en 1940 a El Colegio de México. 
          p.followers-names alberto_chung 
            span y 
            | chuchis_mercado
            span siguen a este usuario
      .row.align-items-center.info-profile.mt-5
        .col-4.text-center
          span 12
          span.title-span publicaciones
        .col-4.text-center
          span 2k
          span.title-span seguidores
        .col-4.text-center
          span 100
          span.title-span seguidos
      .row.align-items-center.images-profile.mb-5
        .col-4.pl-0.pr-1.pb-3
          a(href="photo_colmex.html")
            img(src="../../assets/images/instagram/colmex/Colmex-Biblioteca-Guanajuato.jpg")
        .col-4.pb-3
          img(src="../../assets/images/instagram/colmex/Colmex2018-1.jpg")
        .col-4.pr-0.pl-1.pb-3
          img(src="../../assets/images/instagram/colmex/Colmex2018-2.jpg")
        .col-4.pr-0.pl-1.pb-3
          img(src="../../assets/images/instagram/colmex/Colmex2018-3.jpg")
        .col-4.pr-0.pl-1.pb-3
          img(src="../../assets/images/instagram/colmex/Colmex2018-4.jpg")
      .row.align-items-center.justify-content-center.footer-icons.text-center
        .col-2
          a(href="index.html")
            i.fas.fa-home
        .col-2
          a(href="#")
            i.fas.fa-search
        .col-2
          a(href="#")
            i.far.fa-plus-square
        .col-2
          a(href="#")
            i.far.fa-heart
        .col-2
          a(href="#")
            i.far.fa-user