html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
    link(href="https://fonts.googleapis.com/css?family=La+Belle+Aurore" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../../assets/css/animate.css")
    link(rel="stylesheet" type="text/css" href="../../assets/css/instagram.css")
  body
    .container-fluid.main-instagram#photo
      .row.align-items-center.header-instagram
        .col-2.back-i.text-center
          i.fas.fa-chevron-left
        .col
          h4.title-insta Foto
        .col-2.text-center
          i.fas.fa-undo
      .row.align-items-center.header-photo
        .col-1.pr-0.img-photo
          a(href="#")
            img(src="../../assets/images/instagram/psiquiatria/ramonfuente.jpeg")
        .col-9
          a(href="profile.html")
            h3.name-profile-photo Ramón De La Fuente Muñíz
          h3.location-profile 
        .col-2.text-right
          i.fas.fa-ellipsis-h.more-photo
      .row.align-items-center.photo-profile
        img(src="../../assets/images/instagram/psiquiatria/ramonfuente.jpeg")
      .row.icons-wrapper
        .col-4.col-lg-3.icons-left
          i.far.fa-heart.like
          i.far.fa-comment.comment
        .col-8.col-lg-9.text-right.pr-0
          i.far.fa-bookmark.bookmark
      .row.likes-wrapper
        .col-12
          h4 
            strong 1k 
              span Me gusta
      .row.comments-wrapper.mt-3
        .col-12
          .item-comment-wrapper
            h4.profile-name-link ramon_delafuente
              span Fue miembro fundador de la Sociedad Mexicana de Psicoanálisis (1956), y presidente de la misma (1967-1969); miembro fundador de la Asociación Psiquiátrica Mexicana, y posteriormente presidente de la misma (1967-1969).
          .item-comment-wrapper
            h4.profile-name-link ramon_delafuente
              span Fue director general del Instituto Mexicano de Psiquiatría desde 1979 y asesor de la Organización Mundial de la Salud en el área de la salud mental (1972-2000), entre muchas otras distinciones y reconocimientos. Fue miembro fundador del Consejo Mexicano de Psiquiatría y del Colegio Mexicano de Neuropsicofarmacología. En 1979 fundó el Instituto Mexicano de Psiquiatría, hoy Instituto Nacional de Psiquiatría “Ramón de la Fuente”, el cual dirigió hasta 1998, impulsando el desarrollo de la psiquiatría en nuestro país, el cual le ha otorgado un sitio de distinción en el ámbito internacional. 
      .row.time-wrapper
        .col-12
          h4 HACE UNA HORA
      .row.align-items-center.justify-content-center.footer-icons.text-center
        .col-2
          a(href="index.html")
            i.fas.fa-home
        .col-2
          a(href="#")
            i.fas.fa-search
        .col-2
          a(href="#")
            i.far.fa-plus-square
        .col-2
          a(href="#")
            i.far.fa-heart
        .col-2
          a(href="#")
            i.far.fa-user
    script(src="../../assets/lib/jquery-3.2.1.min.js")
    script(src='../../assets/js/instagram.js')