html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', type='text/css', href='../../assets/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../../assets/lib/fontawesome/css/fontawesome-all.min.css')
    link(href='https://fonts.googleapis.com/css?family=La+Belle+Aurore', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Dosis', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='../../assets/css/animate.css')
    link(rel='stylesheet', type='text/css', href='../../assets/css/instagram.css')
  body
    .container-fluid.main-instagram#profile
      .row.align-items-center.header-instagram
        .col-2.back-i.text-center
          i.fas.fa-chevron-left
        .col
          h4.title-insta Perfil
        .col-2.text-center
          i.fas.fa-undo
      .row.align-items-center.header-profile
        .col-3.img-profile
          img(src='../../assets/images/instagram/demograficos/666A0004.jpg')
        .col-9
          a(href='photo.html')
            h3.name-profile
              | Centro de Estudios Económicos y Demográficos
              i.fas.fa-ellipsis-h
          .row
            .col-10
              button.btn-follow Siguiendo
            .col-2
              button.btn-options
                i.fas.fa-caret-down
      .row.align-items-center.descrip-profile
        .col-12
          p.description
            strong Centro de Estudios Económicos y Demográficos (CEED).    
            | En la década de 1960 existían pocos lugares para estudiar economía y/o demografía en México. Con el propósito de generar un espacio donde se pudiera realizar y promover investigación, en el cual los alumnos pudieran aprender estas disciplinas de forma integral, libre y neutral, fue fundado, en 1964, El Centro de Estudios Económicos y Demográficos del Colegio de México.  En este Centro se crearon los dos primeros posgrados de carácter nacional en las áreas de Maestría en Economía y en Demografía. 
            a.clickable(href="profile_cabrera.html") Gustavo Cabrera 
            | fue director del CEED de 1970 a 1976.
          p.followers-names
            | matias_hdz 
            span y 
            | ana_rivera 
            span siguen a este usuario
      .row.align-items-center.info-profile.mt-5
        .col-4.text-center
          span 10
          span.title-span publicaciones
        .col-4.text-center
          span 2,5k
          span.title-span seguidores
        .col-4.text-center
          span 200
          span.title-span seguidos
      .row.align-items-center.images-profile
        .col-4.pl-0.pr-1.pb-3
          a.photo-link(data-profile="cee", data-profimage="../../assets/images/instagram/demograficos/666A0004.jpg")
            img(src='../../assets/images/instagram/demograficos/666A0004.jpg')
        .col-4.pb-3
          a.photo-link(data-profile="cee", data-profimage="../../assets/images/instagram/demograficos/666A0004.jpg")
            img(src='../../assets/images/instagram/demograficos/666A0011.jpg')
        .col-4.pr-0.pl-1.pb-3
          a.photo-link(data-profile="cee", data-profimage="../../assets/images/instagram/demograficos/666A0004.jpg")
            img(src='../../assets/images/instagram/demograficos/666A0027.jpg')
        .col-4.pl-0.pr-1.pb-3
          a.photo-link(data-profile="cee", data-profimage="../../assets/images/instagram/demograficos/666A0004.jpg")
            img(src='../../assets/images/instagram/demograficos/666A0031.jpg')
        .col-4.pb-3
          a.photo-link(data-profile="cee", data-profimage="../../assets/images/instagram/demograficos/666A0004.jpg")
            img(src='../../assets/images/instagram/demograficos/666A0038.jpg')
        .col-4.pr-0.pl-1.pb-3
          a.photo-link(data-profile="cee", data-profimage="../../assets/images/instagram/demograficos/666A0004.jpg")
            img(src='../../assets/images/instagram/demograficos/666A0044.jpg')
        .col-4.pr-0.pr-1.pb-3
          a.photo-link(data-profile="cee", data-profimage="../../assets/images/instagram/demograficos/666A0004.jpg")
            img(src='../../assets/images/instagram/demograficos/666A0050.jpg')
        .col-4.pr-0.pr-1.pb-3
          a.photo-link(data-profile="cee", data-profimage="../../assets/images/instagram/demograficos/666A0004.jpg")
            img(src='../../assets/images/instagram/demograficos/666A0052.jpg')
        .col-4.pr-0.pr-1.pb-3
          a.photo-link(data-profile="cee", data-profimage="../../assets/images/instagram/demograficos/666A0004.jpg")
            img(src='../../assets/images/instagram/demograficos/666A0055.jpg')
        .col-4.pr-0.pr-1.pb-3
          a.photo-link(data-profile="cee", data-profimage="../../assets/images/instagram/demograficos/666A0004.jpg")
            img(src='../../assets/images/instagram/demograficos/666A0066.jpg')
        .col-4.pr-0.pr-1.pb-3
          a.photo-link(data-profile="cee", data-profimage="../../assets/images/instagram/demograficos/666A0004.jpg")
            img(src='../../assets/images/instagram/demograficos/666A0071.jpg')
        .col-4.pr-0.pr-1.pb-3
          a.photo-link(data-profile="cee", data-profimage="../../assets/images/instagram/demograficos/666A0004.jpg")
            img(src='../../assets/images/instagram/demograficos/666A0089.jpg')
      .row.align-items-center.justify-content-center.footer-icons.text-center
        .col-2
          a(href='index.html')
            i.fas.fa-home
        .col-2
          a(href='#')
            i.fas.fa-search
        .col-2
          a(href='#')
            i.far.fa-plus-square
        .col-2
          a(href='#')
            i.far.fa-heart
        .col-2
          a(href='#')
            i.far.fa-user
    script(src="../../assets/lib/jquery-3.2.1.min.js")
    script(src='../../assets/js/instagram.js')