html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="../../assets/lib/fontawesome/css/fontawesome-all.min.css")
    link(href="https://fonts.googleapis.com/css?family=La+Belle+Aurore" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../../assets/css/animate.css")
    link(rel="stylesheet" type="text/css" href="../../assets/css/instagram.css")
  body
    .container-fluid.main-instagram#profile
      .row.align-items-center.header-instagram
        .col-2.back-i.text-center
          i.fas.fa-chevron-left
        .col
          h4.title-insta Perfil
        .col-2.text-center
          i.fas.fa-undo
      .row.align-items-center.header-profile
        .col-3.img-profile
          img(src="../../assets/images/instagram/psiquiatria/01Actual2.JPG")
        .col-9
          a(href="photo.html")
            h3.name-profile Instituto Nacional de Psiquiatría
              i.fas.fa-ellipsis-h
          .row
            .col-10
              button.btn-follow Siguiendo
            .col-2
              button.btn-options
                i.fas.fa-caret-down
      .row.align-items-center.descrip-profile
        .col-12
          p.description 
            strong Instituto Nacional de Psiquiatría  
            | El Instituto Nacional de Psiquiatría fue fundado en 1979 por el doctor 
            a.clickable(href="profile_ramon.html") Ramón de la Fuente Muñiz, 
            | a quien se le atribuyen grandes obras relacionadas con la psiquiatría y la salud mental. La influencia del doctor fue de tal magnitud que en mayo de 2000 se añadió su nombre como acto honorífico al Instituto.
          p.followers-names manuel_martinez 
            span y 
            | lidia_banega 
            span siguen a este usuario
      .row.align-items-center.info-profile.mt-5
        .col-4.text-center
          span 12
          span.title-span publicaciones
        .col-4.text-center
          span 2k
          span.title-span seguidores
        .col-4.text-center
          span 100
          span.title-span seguidos
      .row.align-items-center.images-profile
        .col-4.pl-0.pr-1.pb-3
          a.photo-link(data-profile="instituto_psquiatria", data-profimage="../../assets/images/instagram/psiquiatria/01Actual2.JPG")
            img(src="../../assets/images/instagram/psiquiatria/01Actual2.JPG")
        .col-4.pb-3
          a.photo-link(data-profile="instituto_psquiatria", data-profimage="../../assets/images/instagram/psiquiatria/01Actual2.JPG")
            img(src="../../assets/images/instagram/psiquiatria/01Actual3[2].JPG")
        .col-4.pr-0.pl-1.pb-3
          a.photo-link(data-profile="instituto_psquiatria", data-profimage="../../assets/images/instagram/psiquiatria/01Actual2.JPG")
            img(src="../../assets/images/instagram/psiquiatria/01Antes2.jpg")
        .col-4.pr-0.pl-1.pb-3
          a.photo-link(data-profile="instituto_psquiatria", data-profimage="../../assets/images/instagram/psiquiatria/01Actual2.JPG")
            img(src="../../assets/images/instagram/psiquiatria/01Antes3.jpg")
        .col-4.pr-0.pl-1.pb-3
          a.photo-link(data-profile="instituto_psquiatria", data-profimage="../../assets/images/instagram/psiquiatria/01Actual2.JPG")
            img(src="../../assets/images/instagram/psiquiatria/01Durante4.jpg")
        .col-4.pr-0.pl-1.pb-3
          a.photo-link(data-profile="instituto_psquiatria", data-profimage="../../assets/images/instagram/psiquiatria/01Actual2.JPG")
            img(src="../../assets/images/instagram/psiquiatria/01Antes1.jpg")
      .row.align-items-center.justify-content-center.footer-icons.text-center
        .col-2
          a(href="index.html")
            i.fas.fa-home
        .col-2
          a(href="#")
            i.fas.fa-search
        .col-2
          a(href="#")
            i.far.fa-plus-square
        .col-2
          a(href="#")
            i.far.fa-heart
        .col-2
          a(href="#")
            i.far.fa-user
    script(src="../../assets/lib/jquery-3.2.1.min.js")
    script(src='../../assets/js/instagram.js')