body {
  background: url("../images/galaxy.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
       background-size: cover;
  background-color: #000;
  min-height: 100%;
}
.object {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  width: 30%;
}
.object .image {
  position: relative;
  float: left;
  overflow: hidden;
  width: 50%;
}
.object .image img {
  width: 100%;
}
.object .description-wrap {
  display: none;
  position: relative;
  float: left;
  overflow: hidden;
  width: 50%;
}
.object .description-wrap h4 {
  color: #66a8de;
}
.object .description-wrap p {
  color: #7fdffd;
  font-size: 12px;
}
.m80 {
  position: fixed;
  top: 3em;
  left: 3em;
}
.haro11 {
  position: fixed;
  top: 5em;
  left: 9em;
}
.haro44 {
  position: fixed;
  top: 11em;
  left: 5em;
}
